.login-box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;

    width: 80%;

    padding-left: 5%;
    padding-bottom: 3%;

    right: 0;
    left: 0;

    border-radius: 10px;
    box-shadow: 0 0 2.1875rem 0 rgb(0 0 0 / 10%);
    background-color: white;
    border-width: 0;
}

.form-input {
    font-size: 20px;
    height: 50px;
    width: 100%;

    margin-top: 3%;
    margin-bottom: 5%;
    
    font-size: 24px;
}

.float-container {
    width: 30%;
}

.not-first-field {
    margin-left: 3%;
}

.form-button {
    clear: both;

    font-size: 28px;

    height: 50px;
    padding-left: 20%;
    padding-right: 20%;

    margin-left: 22%;
    margin-top: 40px;
    border-radius: 20px;
}

.clear {
    clear: both;
}

.account-container {
    padding-left: 10%;
}

h1, h2, h3, p, label {
    color: black;
}

label {
    font-size: 20px;
}

.background-img {
    height: 3300px;
    position: sticky;
}

.form-input {
    width: 100%;

    margin-top: 3%;
    margin-bottom: 5%;
}

.not-first-field {
    margin-left: 3%;
}

.clear {
    clear: both;
}

.account-container {
    padding-left: 10%;
}

label {
    font-size: 20px;
}

img {
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.75);


    margin-bottom: 3%;
}

.file-input {
    margin-bottom: 3%;
}

.brief-desc {
    resize: none;
   height: 140px;
}

.long-description-container {
    width: 80%;
    height: 100%;
}

.brief-container {
    width: 30%;
}

.long-desc {
    height: 450px;
    resize: none;
}

.add-service-container {
    width: 40%;
    margin-left: 10%;
}

p {
    font-size: 20px;
}

@media only screen and (max-width: 1650px) {

    .form-input {
        width: 80%;
        height: 40px;
        font-size: 16px;
    }

    .brief-desc {
        height: 150px;
    }

    .long-desc {
        height: 200px;
    }


}

@media only screen and (max-width: 1000px) {

    .float-container {
        float: none;
        width: 80%;
    }

    .not-first-field {
        margin-left: 0;
    }

    .form-input {
        width: 100%;
    }

}