.form-input {
    height: 50px;
    width: 100%;

    margin-top: 3%;
    margin-bottom: 5%;
}

.float-container {
    width: 20%;
}

.not-first-field {
    margin-left: 3%;
}

.form-button {
    clear: both;

    font-size: 18px;

    padding-left: 0.5%;
    padding-right: 0.5%;
}

.clear {
    clear: both;
}

.account-container {
    padding-left: 10%;
}

h1, h2, h3, p, label {
    color: #48483f;
}

label {
    font-size: 20px;
}

@media only screen and (max-width: 1650px) {

    .form-input {
        width: 80%;
        height: 40px;
        font-size: 16px;
    }


}

@media only screen and (max-width: 1000px) {

    .float-container {
        float: none;
        width: 80%;
    }

    .not-first-field {
        margin-left: 0;
    }

    .form-input {
        width: 100%;
    }

    .email-container {
        margin-top: 40px;
    }

    h1 {
        font-size: 30px;
        width: 80%;
    }

    .form-container {
        width: 80%;
    }

}

