<div class="background">
    <app-navigation-bar></app-navigation-bar>
    <app-language></app-language>
    <div class="account-container">
        <div class="form-container">
            <h1>{{ 'user-forms.account' | translate}}</h1>
            <h2>{{ 'user-forms.user' | translate}}</h2>
            <form class="staggered-fade-left">
                <div class="float-container">
                    <label for="fname">{{ 'user-forms.fname' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="fname" name="fname" placeholder="{{ 'user-forms.type' | translate}}">
                </div>
                <div class="float-container not-first-field">
                    <label for="lname">{{ 'user-forms.lname' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="lname" name="lname" placeholder="{{ 'user-forms.type' | translate}}">
                </div>
                <div>
                    <button type="submit" class="form-button" (click)="this.authService.updateUser({'first_name': fname, 'last_name': lname, 'displayName': fname + ' ' + lname})">{{ 'user-forms.update-name' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="form-container staggered-fade-left" style="--animation-order: 1;">
            <form>
                <div class="float-container">
                    <label for="cname">{{ 'user-forms.cname' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="cname" name="cname" placeholder="{{ 'user-forms.type' | translate}}">
                </div>
                <div>
                    <button type="submit" class="form-button" (click)="this.authService.updateUser({'company_name': cname})">{{ 'user-forms.update-cname' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="form-container staggered-fade-left" style="--animation-order: 2;">
            <h2>{{ 'user-forms.address' | translate}}</h2>
            <form>
                <div class="float-container">
                    <label for="streetnum">{{ 'user-forms.street-number' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.street_number" name="streetnum" placeholder="{{ 'user-forms.street-number-placeholder' | translate}}">
                </div>
                <div class="float-container not-first-field">
                    <label for="buildingname">{{ 'user-forms.building-name' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.building_name" name="buildingname" placeholder="{{ 'user-forms.building-placeholder' | translate}}">
                </div>
                <div class="float-container not-first-field">
                    <label for="street">{{ 'user-forms.street' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.street_name" name="street" placeholder="{{ 'user-forms.street-placeholder' | translate}}">
                </div>
                <div class="float-container clear">
                    <label for="city">{{ 'user-forms.city' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.city_name" name="city" placeholder="{{ 'user-forms.city-placeholder' | translate}}">
                </div>
                <div class="float-container not-first-field">
                    <label for="country">{{ 'user-forms.country' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.country_name" name="country" placeholder="{{ 'user-forms.country-placeholder' | translate}}">
                </div>
                <div class="float-container not-first-field">
                    <label for="postcode">{{ 'user-forms.post-code' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="location.post_code" name="postcode" placeholder="{{ 'user-forms.post-code-placeholder' | translate}}">
                </div>
                <div>
                    <button type="submit" class="form-button" (click)="this.authService.updateUser({'address': location})">{{ 'user-forms.update-address' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="form-container staggered-fade-left" style="--animation-order: 3;">
            <form class="float-container">
                <div>
                    <label for="phonenum">{{ 'user-forms.phone-number' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="phone_number" name="phonenum" placeholder="{{ 'user-forms.type' | translate}}">
                </div>
                <div>
                    <button type="submit" class="form-button" (click)="this.authService.updateUser({'phone_number': phone_number})">{{ 'user-forms.update-phone' | translate}}</button>
                </div>
            </form>
            <form class="float-container not-first-field">
                <div class="email-container">
                    <label for="email">{{ 'user-forms.email-label' | translate}}</label>
                    <input type="text" class="form-input" [(ngModel)]="email" name="email" placeholder="{{ 'user-forms.email-placeholder' | translate}}">
                    <input type="password" class="form-input" [(ngModel)]="email_password" name="email" placeholder="{{ 'user-forms.password-placeholder' | translate}}">
                </div>
                <div>
                    <button type="submit" class="form-button" (click)="this.authService.updateEmail(email, email_password)">{{ 'user-forms.update-email' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="form-container staggered-fade-left" style="--animation-order: 4;">
            <h2>{{ 'user-forms.change-password' | translate}}</h2>
            <form class="float-container">
                <div>
                    <button type="submit" class="form-button" routerLink="/forgottenpassword">{{ 'user-forms.update-password' | translate}}</button>
                </div>
            </form>
        </div>

    </div>
</div>
