<div class="background-img">
    <app-language></app-language>
    <div style="--animation-delay: 0;" class="login-box staggered-fade">
        <form>
            <div class="title-container">
                <h1 class="login-title">{{ 'user-forms.change-password' | translate }}</h1>
            </div>
            <div class="form-group">
                <div class="label-container">
                    <label class="form-label" for="email">{{ 'user-forms.email-label' | translate }}</label>
                </div>
                <div class="form-container">
                    <input class="form-input" type="text" name="email" placeholder="{{ 'user-forms.email-placeholder' | translate }}" [(ngModel)]="email" required>
                </div>
            </div>
            <div class="form-container">
                <button class="form-button" type="submit" (click)="sendRecoveryEmail()">{{ 'user-forms.recovery-email' | translate }}</button>
            </div>
        </form>
    </div>
</div>
