<div class="background-img">
    <app-language></app-language>
    <div class="box">
        <img class="home-logo" src="../../assets/cyberseguro2.png">
        <h1 class="home-title">{{ 'home.title' | translate }}</h1>
        <h2 class="home-description">{{ 'home.description' | translate }}</h2>
        <div class="button-box">
            <button class="form-button login-button user-button" type="button" routerLink="/userlogin"><span>{{ 'home.user-button' | translate }}</span></button>
            <button class="form-button login-button supplier-button" type="button" routerLink="supplierlogin"><span>{{ 'home.supplier-button' | translate }}</span></button>
        </div>
    </div>
</div>
